<section id="about" class="full-heigth px-lg-5">
    <div class="container">
        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">ACERCA DE MI</h6>
                <h1>Educación y Experiencia.</h1>
            </div>
        </div>
        <div class="row gy-5">
            <div class="col-lg-6">
                <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Educación
                    <fa-icon 
                        class="about_ABM-btn" 
                        (click)="toggleModalEdu()" 
                        [icon]="faPlus"
                        data-bs-toggle="modal" data-bs-target="#modalAbout">
                    </fa-icon></h3>
                <div cdkDropList
                    (cdkDropListDropped)="drop($event)"
                    >
                    <div class="row gy-4"
                        *ngFor="let edu of eduList; trackBy: trackByItem"
                        cdkDrag
                        >
                        <app-education
                            [edu] = "edu"
                            (onDeleteEdu) = "deleteEdu(edu)"
                            (onUpdateEdu) = "toggleModEdu(edu)"
                        >
                        </app-education>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experiencia 
                    <fa-icon 
                        class="about_ABM-btn" 
                        (click)="toggleModalExp()" 
                        [icon]="faPlus"
                        data-bs-toggle="modal" data-bs-target="#modalAbout">
                    </fa-icon></h3>
                <div cdkDropList
                    (cdkDropListDropped)="drop($event)"
                    >
                    <div class="row gy-4"
                    *ngFor="let exp of expList; trackBy: trackByItem"
                    cdkDrag>
                        <app-experience
                            [exp] = "exp"
                            (onDeleteExp) = "deleteExp(exp)"
                            (onUpdateExp) = "toggleModExp(exp)"
                        ></app-experience>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-modal-about
        organism="{{toEduOrExp ? 'Empresa' : 'Instituto'}}"
        titulo="{{toEduOrExp ? 'Posición' : 'Titulo'}}"
        (onAddEducation)="addEducation($event)"
        (onAddExperience)="addExperience($event)"
        (onModEducation)="modEducation($event)"
        (onModExperience)="modExperience($event)"
    ></app-modal-about>
</section>