.edu-img {
    width: 70px;
}

.exp-img {
    display: inline-block;
    width: 70px;
    margin-right: 220px;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

.about_ABM-btn {
    display: inline-flex;
    position: relative;
    padding: 12px;
    cursor: pointer;
}