<footer class="py-5 px-lg-5">
    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-auto">
                <p class="mb-0">Copyrigth mottitag</p>
            </div>
            <div class="col-auto">
                <div class="social-icons">
                    <a href=""><fa-icon class="social-icon_footer" [icon]="faGithub"></fa-icon></a>
                    <a href=""><fa-icon class="social-icon_footer" [icon]="faLinkedin"></fa-icon></a>
                </div>
            </div>
        </div>
    </div>
</footer>