.ap_logo{
    height: 60px;
    background-color: #280f5a;
}

.ap_logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: left;
}


.login {
    position: relative;
    width: 600px;
    margin: auto;
}