<section id="proyects" class="full-heigth px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">PROYECTOS</h6>
                <h1>Mis proyectos recientes.</h1>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-md-6" data-aos="fade-up">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="./assets/img/img_banner.jpg" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Mi portfolio web.</h4>
                        <p>Creacion de mi propiop portfolio web full stack, utilizando tecnologia HTML5, CSS, JS, ANGULAR, GIT,
                            GITHUB, GITFLOW, SCRUM, JAVA SPRING BOOT, MYSQL y seguridad JWT.
                        </p>
                        <a href="#" class="link-custom">Conosca más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="./assets/img/img_banner.jpg" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Mi portfolio web.</h4>
                        <p>Creacion de mi propiop portfolio web full stack, utilizando tecnologia HTML5, CSS, JS, ANGULAR, GIT,
                            GITHUB, GITFLOW, SCRUM, JAVA SPRING BOOT, MYSQL y seguridad JWT.
                        </p>
                        <a href="#" class="link-custom">Conosca más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>