.services {
    cursor: pointer;
}
.service_ABM-btn{
    cursor: pointer;
    position: relative;
    justify-content: flex-end;
    display: flex;
}

.service_ABM-btn .icon_ABM {
    display: inline-block;
    margin: 2px;
}