<section id="home" class="full-heigth px-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <a href="#" id="btn-edit-home-h1" class="btn btn-brand" data-aos="fade-up">
                    <fa-icon [icon]="faPen"></fa-icon>
                </a>
                <h1 id="home_h1" class="display-4 fw-bold" data-aos="fade-up">
                    Hola soy <span class="text-brand">Programador Full Stack
                    Jr. y Analista en
                    Sistemas</span> de Posadas, Misiones (Argentina).
                </h1>
                <a href="#" id="btn-edit-home-p" class="btn btn-brand" data-aos="fade-up" data-aos-delay="300">
                    <fa-icon [icon]="faPen"></fa-icon>
                </a>
                <p id="home_parrafo" class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300">Hola, soy Gabriel Motta y realizo paginas
                    web responsivas Front End y Back End.
                </p>
                <div data-aos="fade-up" data-aos-delay="600">
                    <a href="#proyects" class="btn btn-brand me-3">Explore mis tabajos</a>
                    <a href="#" class="link-custom">Comuniquese: (54) 376-4576996</a>
                </div>
            </div>
        </div>
    </div>
</section>