<section id="services" class="full-heigth px-lg-5">
    <div class="container">
        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">SERVICIOS</h6>
                <h1>Servicios que ofresco
                    <fa-icon
                        class="service_ABM-btn"
                        (click)="toggleModalService()"
                        [icon]="faPlus"
                        data-bs-toggle="modal" data-bs-target="#modalService"
                    >
                    </fa-icon>
                </h1>
            </div>
        </div>
        <div class="row py-4" data-aos="fade-up"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
        >
            <div *ngFor="let ser of services"
                cdkDrag>
                <app-service-item
                    [service] = "ser"
                    (onDeleteService) = "deleteService(ser)"
                    (onUpdateService) = "toggleModService(ser)">
                </app-service-item>
            </div>
        </div>
    </div>
    <app-modal-service
        (onAddService)="addService($event)"
        (onModService)="modService($event)">
    </app-modal-service>
</section>