<div class="col-12" data-aos="fade-up-left" data-aos-delay="700">
    <div class="bg-base mb-4 p-4 rounded-4 shadow-effect">
        <div *ngIf="isAdmin" class="about_ABM-btn">
            <fa-icon class="icon_ABM"
                (click)="onUpdate(exp)" 
                [icon]="faPen"
                data-bs-toggle="modal" data-bs-target="#modalAbout">
            </fa-icon>
            <fa-icon class="icon_ABM" 
                (click)="onDelete(exp)" 
                [icon]="faXmark">
            </fa-icon>
        </div>
        <img class="exp-img" [src]="exp.logo" alt="">
        <h4>{{exp.company}}</h4>
        <p class="text-brand mb-2">{{exp.position}} ({{exp.startDate}}-{{exp.endDate}})</p>
        <p class="mb-0">{{exp.description}}</p>
    </div>
</div>