.edu-img {
    width: 70px;
}

.exp-img {
    display: inline-block;
    width: 70px;
    margin-right: 220px;
}

.about_ABM-btn {
    display: inline-flex;
    position: relative;
    padding: 12px;
    cursor: pointer;
}