<section id="proyects" class="full-heigth px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">PROYECTOS</h6>
                <h1>Mis proyectos recientes.
                    <fa-icon
                        class="project_ABM-btn"
                        (click)="toggleModalProject()"
                        [icon]="faPlus"
                        data-bs-toggle="modal" data-bs-target="#modalProject">
                    </fa-icon>
                </h1>
            </div>
        </div>
        <div  data-aos="fade-up"
            cdkDropList
            (cdkDropListDropped)="drop($event)">
            <div class="row py-4" *ngFor="let pro of projects; trackBy: trackByItem"
                cdkDrag>
                <app-project-item
                    class="col-md-4 mt-1" data-aos="fade-up"
                    [project] = "pro"
                    (onDeleteProject) = "deleteProject(pro)"
                    (onUpdateProject) = "toggleModProject(pro)">
                </app-project-item>
            </div>
        </div>
    </div>
    <app-modal-project
        (onAddProject) = "addProject($event)"
        (onModProject) = "modProject($event)">
    </app-modal-project>
</section>