<div class="col-12" data-aos="fade-up-right" data-aos-delay="600">
    <div class="bg-base mb-4 p-4 rounded-4 shadow-effect">
        <div class="about_ABM-btn">
            <fa-icon class="icon_ABM" 
                (click)="onUpdate(edu)" 
                [icon]="faPen" 
                data-bs-toggle="modal" data-bs-target="#modalAbout">
            </fa-icon>
            <fa-icon class="icon_ABM" 
                (click)="onDelete(edu)" 
                [icon]="faXmark">
            </fa-icon>
        </div>
        <img class="exp-img" *ngIf="edu.logo" [src]="edu.logo" alt="">
        <h4>{{edu.title}}</h4>
        <p class="text-brand mb-2">{{edu.school}} ({{edu.start}}-{{edu.end}})</p>
        <p class="mb-0">{{edu.description}}.</p>
    </div>
</div>