.edu-img {
    width: 70px;
}

.exp-img {
    display: inline-block;
    width: 70px;
    margin-right: 220px;
}

.about_ABM-btn{
    cursor: pointer;
    position: relative;
    justify-content: flex-end;
    display: flex;
}

.about_ABM-btn .icon_ABM {
    display: inline-block;
    margin: 2px;
}